<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Demo App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">YM Partner SDK Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>YM Agent SDK Demo</h1>
    <ul>
      <li>
        <ion-button
          size="medium"
          color="warning"
          (click)="openOverViewActivity()"
          >Start overview Page</ion-button
        >
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="openMyChatActivity()"
          >Start Chat Page</ion-button
        >
      </li>

      <li>
        <div>
          <p>Change Agent status</p>
          <ion-button
            size="medium"
            color="primary"
            (click)="setAgentStatus('AVAILABLE')"
            >Available
          </ion-button>
          <ion-button
            size="medium"
            color="primary"
            (click)="setAgentStatus('BUSY')"
            >Busy</ion-button
          >
          <ion-button
            size="medium"
            color="primary"
            (click)="setAgentStatus('AWAY')"
            >Away</ion-button
          >
        </div>
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="getAgentStatus()"
          >Get agent status</ion-button
        >
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="logout()"
          >Logout</ion-button
        >
      </li>
    </ul>
  </div>
</ion-content>
