<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Ionic Demo App </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">YM Partner SDK Demo</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <h1>YM Agent SDK Demo</h1>
    <ul>
      <li>
        <ion-button
          size="medium"
          color="warning"
          (click)="initializeYellowInbox()"
          >initialize YellowInbox</ion-button
        >
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="showOverviewScreen()"
          >Start overview Page</ion-button
        >
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="showMyChatScreen()"
          >Start Chat Page</ion-button
        >
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="getAllAgentStatus()"
          >Get All Agent status</ion-button
        >
      </li>

      <li>
      <ion-item>
        <ion-label>Change Agent Status</ion-label>
        <ion-select [compareWith]="compareWith" #C (ionChange)="setAgentStatus(C.value)" placeholder="Select One" [disabled]="statusDisabled">
          <ion-select-option *ngFor="let status of allAgentStatus" [value]="status" >{{status.status}}</ion-select-option>
        </ion-select>
      </ion-item>
      </li>
      <li>
        <ion-button size="medium" color="primary" (click)="getAgentStatus()"
          >Get agent status</ion-button
        >
      </li>

      <li>
        <ion-button size="medium" color="primary" (click)="logout()"
          >Logout</ion-button
        >
      </li>
    </ul>
  </div>
</ion-content>
